<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18882107844-65s7fjm6kd2ece2hc4e77j0d8198u9g5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18882107844-65s7fjm6kd2ece2hc4e77j0d8198u9g5</string>
	<key>API_KEY</key>
	<string>AIzaSyDgj73U9R1AqgW_EZCjdpmSomXDVzEN3wo</string>
	<key>GCM_SENDER_ID</key>
	<string>18882107844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ihosiris</string>
	<key>PROJECT_ID</key>
	<string>soilanalyzerosiris</string>
	<key>STORAGE_BUCKET</key>
	<string>soilanalyzerosiris.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18882107844:ios:7fb85739a59896a056ec91</string>
</dict>
</plist>